/* ***************** */
/* Fonts             */
/* ***************** */
@font-face {
    font-family: 'Mantinia';
    src: url('../font/Mantinia.ttf') format('truetype'),
        url('../font/Mantinia.woff2') format('woff2'),
        url('../font/Mantinia.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ***************** */
/* Animations        */
/* ***************** */
@keyframes highlightFade {
    0% {
        background-color: yellow;
        opacity: 1;
    }

    100% {
        background-color: inherit;
    }
}

@keyframes fadeTransition{
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ***************** */
/* Tags              */
/* ***************** */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

/* Pseudo-element included here for smooth background transitions */
body::before{
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
    z-index: -1;
}

body{
    flex-direction: column;
    min-height: 100%;

    color: white;
    margin: 0;
    font-family: 'Mantinia';
    border-image: linear-gradient(
        hsla(0, 0%, 0%, 0.5),
        hsla(0, 0%, 0%, 0.5));
    border-image-slice: fill 1; 
    }

header{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.6em;
    line-height: 1.3rem;
    border-bottom: 2px solid rgb(208, 171, 109);
}

header *{
    padding: 0.1em 15%;
    margin: 0.1em 0;
}

select{
    max-height: 1.6em;
    max-width: 8em;
}

a{
    color: white;
}

a:hover{
    color: rgb(208, 171, 109);
}

input{
    flex: 1;
    height: 1.7em;
    font-size: 18px;
    color: #fff;
}

/* magnifying glass search button */
button{
    font-size: 22px;
    color: #555;
    cursor: pointer;
}

footer{
    justify-content: space-around;
    align-items: center;
    background: #222;
    margin-top: auto;
    border-top: 2px solid rgb(208, 171, 109);
    max-height: 3em;
}

/* ***************** */
/* Classes           */
/* ***************** */

.background-common{
    position: fixed;
    width: 100%;
    height: 100%;
}

.backgrounds-container{
    z-index: -2;
}

.background{
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.showing{
    opacity: 1;
    z-index: -1;
    transition: none;
}

.flex{
    display: flex;
    flex: 1;
    min-width: fit-content;
}

.bordered{
    border: 2px solid rgb(208, 171, 109);
}

.title{
    text-decoration: underline;
    text-decoration-color: rgb(208, 171, 109);
    text-decoration-thickness: 0.05em;
    line-height: 1em;
}

.dropdown{
    margin: 0 0.5em;
}

.search-bar-container{
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-bar-component{
    background: #222222;
    overflow: hidden;
    padding: inherit;
    width: 60%;
    min-width: 426px;
}

.search-options{
    text-decoration: underline;
    border-bottom: 1px;
    border-radius: 0.5em 0.5em 0em 0em;
    max-height: fit-content;
}

.search-bar{
    background: #222222;
    margin-top: 0px;
    border-radius: 0em 0em 0.5em 0.5em;
    align-items: center;
}

.divider{
    border-left: 0.1em solid white;
    margin: 0 1em;
}

.result-box{
    border-radius: 1em;
    padding: 0.3em;
    margin: 0.5em 0.5em 0em 0.5em;
    font-size: 2em;
    text-align: center;
}

.terms-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0.6em;
}

.terms {
    flex-direction: column;
    animation: fadeTransition 1.5s ease-in-out;
}
.terms-list{
    height: 35vh;
    overflow-y: auto;
    margin: 0em 0.5em 1.5em 0.5em;
    border-radius: 1em;
    -ms-overflow-style: none; /* hide scrollbars for IE and Edge */
    scrollbar-width: none; /* hide scrollbars for Firefox */
}

.terms-list::-webkit-scrollbar {
    display: none; /* hide scrollbars for Chrome, Safari, and Opera */
}

.terms-list ul,ol{
    list-style-type: none;
}

.terms h2{
    text-align: center;
    margin: 0;
}

.terms-text{
    padding: 0.5em;
}

.footer-icon{
   margin-left: 5px;
}

.input-field{
    border: 0;
    outline: 0;
    background-color: inherit;
}

/* the list of autocomplete selections */
.autocomplete-box{
    color: #fff;
    background-color: #222222;
    max-height: 40vh;
    overflow-y: scroll;
    text-align: left;
    padding: 0;
}
.autocomplete-box ul{
    border-top: 1px solid #fff;
    padding: 0.5em 0.4em;
}

.autocomplete-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 0.5em 0.4em;
    cursor: pointer;
}
.autocomplete-box ul li.hovered{
    background: #4c4c4c;
}

/* fading highlight to indicate where the answer is */
.highlightedDiv {
    animation: highlightFade 1s forwards;
    border-color: rgb(255, 0, 0);
 }

 /* the matching term the user searched for */
 .highlightedTerm {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.5);
 }